.form-control {
    font-size: inherit;
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
}

.form-control:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem var(--primary-color-shadow);
}

.form-control::placeholder {
  color: #d3d3d3;
} 
