.article__header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.article__icon {
    color: var(--primary-color);
}

.article__title {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.article__year {
    font-size: 1.2rem;
}

.article__abstract {
    font-size: 1.3rem;
    margin: 0;
}
