.article {
    border-radius: 15px;
    padding: 1.5rem;
    margin: 20px 0;
    box-shadow: 0 4px 6px -1px rgba(0,  0, 0, 0.1);
    transition: transform 0.15s ease-in;
}

.article__header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.article__icon {
    color: var(--primary-color);
}

.article__title {
    font-size: 2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.article__year {
    font-size: 1.2rem;
}

.article__abstract {
    font-size: 1.3rem;
    margin: 0;
}

.article:hover {
    transform: scale(1.02);
}