.simple-card {
  background: #fff;
  border-radius: var(--border-radius);
  border-bottom: 1px solid #804900;
  padding: 2rem;
  min-height: 1vh;
  margin: 4rem 0;
}

@media (min-width: 425px) {
  .simple-card {
    padding: 3rem;
  }
}
