.article-page {
  padding-bottom: 7rem;
}

.article-page__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: 1rem;
}

.article-page__title-icon {
  position: relative;
  top: -1rem;
  margin-right: 0.5rem;
}

.article-page__title-icon,
.article-page__title {
  font-size: 4rem;
  display: inline;
  color: #555;
}

.article-page__year {
  font-size: 2rem;
}

.article-page__heading {
  font-size: 3.4rem;
  color: #555;
  margin-top: 1rem;
}

.article-page__content {
  text-align: justify;
  font-size: 1.7rem;
}

@media (max-width: 1024px) {
  .article-page__header {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .article-page__title-icon,
  .article-page__title {
    font-size: 3rem;
  }
  .article-page__heading {
    font-size: 2.5rem;
  }
  .article-page__content {
    text-align: left;
  }
}

@media (max-width: 425px) {
  .article-page__title-icon,
  .article-page__title {
    font-size: 2.5rem;
  }
  .article-page__heading {
    font-size: 2rem;
  }
}
