.user-account {
  display: grid;
  grid-template-areas:
    "username"
    "email"
    "phone"
    "logout";
  font-size: 1.7rem;
  row-gap: 1.5rem;
}

.user-account__icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.logout-btn {
  grid-area: logout;
}

.edit-btns {
  display: flex;
  margin: 3rem 3rem;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-direction: column;
}

@media (min-width: 768px) {
  .user-account {
    grid-template-areas:
      "username logout"
      "email logout"
      "phone logout";
  }

  .logout-btn {
    width: fit-content;
    height: fit-content;
    justify-self: end;
    align-self: center;
  }

  .edit-btns {
    flex-direction: row;
  }
}
