.page-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: var(--background-color);
}

.page {
  padding: 0 5.5rem;
}

@media (min-width: 1024px) {
  .page {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1440px) {
  .page {
    padding-left: 15%;
    padding-right: 15%;
  }
}
