.article-page {
  margin: 0 1rem;
}

.article-page__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.article-page__title-icon {
  position: relative;
  top: -1rem;
  margin-right: 0.5rem;
}

.article-page__title-icon ,
.article-page__title {
  font-size: 4rem;
  display: inline;
  color: #555;
}

.article-page__year {
  font-size: 2rem;
  margin-left: auto;
}
.article-page__heading {
  font-size: 3.4rem;
  color: #555;
  margin-top: 1rem;
}

.article-page__content {
  text-align: justify;
  font-size: 1.7rem;
}
