.add-citation__heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.add-citation__articles {
  margin-top: 2rem;
  margin-left: 1.5rem;
  min-height: 15rem;
}

@media (max-width: 425px) {
  .add-citation__articles {
    margin-left: 0.5rem;
  }
}